---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* Hide the 'Last Updated' timestamp but keep the 'Published' date */
.post-meta .last-modified-at, 
.post-meta span:has(> i.fa-sync-alt),
.post-meta i.fa-sync-alt {
    display: none !important;
}
/* append your custom style below */

