---
layout: default
---

<article class="px-1">
  <header>
    <h1 data-eleventy-slug="{{ page.slug }}">{{ page.title }}</h1>

    <div class="post-meta text-muted">
      <span>
        {{ site.data.locales[lang].post.published }}
        {% include datetime.html date=page.date tooltip=true lang=lang %}
      </span>

      {% if page.image %}
        {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
        {% capture class %}class="preview-img{% if page.image.no_clean %} no-clean{% endif %}"{% endcapture %}
        {% capture alt %}alt="{{ page.image.alt | default: "Preview Image" }}"{% endcapture %}

        {% if page.image.lqip %}
          {% capture lqip %}data-lqip="true" src="{{ page.image.lqip }}"{% endcapture %}
          <img {{ src }} {{ class }} {{ alt }} {{ lqip }} w="1200" h="630">
        {% else %}
          <img {{ src }} {{ class }} {{ alt }} w="1200" h="630">
        {% endif %}
      {% endif %}
    </div>
  </header>

  <div class="content">
    {{ content }}
  </div>

  <div class="post-tail-wrapper text-muted">
    <div class="post-meta mb-3">
      <i class="far fa-folder-open fa-fw me-1"></i>
      {% for category in page.categories %}
        <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/">{{ category }}</a>
        {%- unless forloop.last -%}, {%- endunless -%}
      {% endfor %}
    </div>
  </div>
</article>
